spring:
  profiles:
    active: dev
---
#开发环境配置
spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://114.55.137.13:9000/genshin?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: 114.55.137.13
    port: 9001
  thymeleaf:
    cache: false
  devtools:
    restart:
      enabled: true
      additional-paths: src/java/main
      exclude: static/**,public/**,WEB-INF/**
server:
  port: 80
mybatis:
  mapper-locations: mapper/*.xml
management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /monitor
  endpoint:
    health:
      show-details: always

