spring:
  profiles:
    active: dev
---
#开发环境配置
spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://localhost:3306/wx?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: test
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
  thymeleaf:
    cache: false
  devtools:
    restart:
      enabled: true
      additional-paths: src/java/main
      exclude: static/**,public/**,WEB-INF/**
server:
  port: 80
